// bower:scss
// endbower
@import 'node-bourbon';
@import 'node-neat';
@import 'topnav';

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
 

#main{
    @include outer-container();
}

#top-row{
    @include span-columns(12);
}

#middle-row{
    @include span-columns(12);
}
#bottom-row{
    @include span-columns(12);
}

#red{

    @include span-columns(4 of 12);
}

#orange{
    background-color: orange;
    @include span-columns(4 of 12);
}

#yellow{
    background-color: yellow;
    @include span-columns(4 of 12);
}

#green{
    background-color: green;
    @include span-columns(4 of 12);
}

#blue{
    background-color: blue;
    @include span-columns(8 of 12);
}

#indigo{
    background-color: indigo;
    @include span-columns(4 of 12);
    @include shift(8 of 12);
}

#red, #orange, #yellow{
    @media screen and (max-width: 768px){
        @include span-columns(12 of 12);
    }
}
